[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphql-auth = "*"
django-graphql-jwt = "<0.3.2"
django-cors-headers = "*"
pillow = "*"
redis = "*"
django-q = "*"
django-environ = "*"
bs4 = "*"
requests = "*"
django-crontab = "*"
datagovindia = "*"
django-channels-graphql-ws = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "*"
