[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "*"
django-graphql-auth = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
pillow = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "*"
